* text=auto
*.py eol=lf
*.js eol=lf
*.ts eol=lf
*.vue eol=lf
*.json eol=lf
*.md eol=lf
*.yml eol=lf
*.yaml eol=lf
*.sh eol=lf
*.ps1 eol=crlf
*.bat eol=crlf
*.db binary
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.glb binary
